<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teachers List</title>
</head>

<body>
    <h4>Anar a: <a href="/centre/students/">Alumnes</a></h4>
    <h1>INFORMACIÓ Professorat TIC BARCELONA</h1>
    <table style="width: 50%; border-collapse: collapse;" border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido1</th>
                <th>Apellido2</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Curs</th>
            </tr>
        </thead>
        <tbody>
            {% for profesor in profesores %}
            <tr>
                <td>{{ profesor.nom }}</td>
                <td>{{ profesor.cognom1 }}</td>
                <td>{{ profesor.cognom2 }}</td>
                <td>{{ profesor.correu }}</td>
                <td>{{ profesor.rol }}</td>
                <td>{{ profesor.curs }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>